<div class="flex flex-col shadow-md z-10 bg-white">
  @for(item of navItems; track $index) {
  <span
    class="text-2xl w-full px-6 py-5 flex justify-center items-center cursor-pointer"
    nz-icon
    [nzType]="item.icon"
    nzTheme="outline"
    [routerLink]="item.link"
    routerLinkActive="active"
  ></span>
  }
  <span
    title="Logout"
    class="mt-auto text-2xl w-full p-6 cursor-pointer"
    nz-icon
    nzType="logout"
    nzTheme="outline"
    (click)="logout()"
  ></span>
</div>
<div class="bg-slate-200 z-0">
  <router-outlet></router-outlet>
</div>
