<div class="flex flex-row bg-white items-center p-3">
  <span class="text-2xl font-bold">Users</span>
  <button
    class="ml-auto"
    nz-button
    nzType="primary"
    (click)="selectUser(getNewUserObject())"
  >
    Create
  </button>
</div>
@if(users(); as users) {
<nz-table #table [nzFrontPagination]="false" [nzData]="users">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Enabled</th>
      <th>Expire</th>
      <th>Realm Type</th>
      <th>Role ID</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.userid }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>{{ data.enable ? "Yes" : "No" }}</td>
      <td>{{ data.expire }}</td>
      <td>{{ data["realm-type"] }}</td>
      <td>{{ $any(data).roleid }}</td>
      <td>{{ data.comment }}</td>
      <td>
        <div class="flex flex-row gap-2">
          <button nz-button (click)="selectedUser.set(data)">
            <span nz-icon nzType="edit"></span>
          </button>
          <button nz-button nzDanger (click)="deleteUser(data.userid)">
            <span nz-icon nzType="delete"></span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
}

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzVisible]="!!selectedUser()"
  [nzTitle]="mode()"
  [nzFooter]="footerTpl"
  (nzOnClose)="selectedUser.set(null)"
>
  <div *nzDrawerContent>
    <form
      nz-form
      [formGroup]="selectedUserForm"
      (ngSubmit)="saveSelectedUser()"
      class="bg-white shadow-md rounded-lg p-6"
    >
      <nz-form-item>
        <nz-form-label nzRequired>Username</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="userid" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Email</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Password</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="password" type="password" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>First name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="firstname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Last name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="lastname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Comment</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="comment"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Role ID</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="roleid"
            [nzAllowClear]="true"
            nzPlaceHolder="Select a role"
          >
            <nz-option
              *ngFor="let role of roles()"
              [nzLabel]="role"
              [nzValue]="role"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Enabled</nz-form-label>
        <nz-form-control>
          <nz-switch nz-input formControlName="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <ng-template #footerTpl>
    <div class="flex flex-row gap-2">
      <button class="ml-auto" nz-button (click)="selectedUser.set(null)">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="saveSelectedUser()">
        Save
      </button>
    </div>
  </ng-template>
</nz-drawer>
